.header, .nav, .main, .side-bar, .advertise, .footer{
    background-color: bisque;
    border: 2px solid salmon;
    padding: 10px;
    border-radius: 5px;
}


/* Practical grid Area and media Query */

.header{
    grid-area: header;
}
.nav{
    grid-area: nav;
}
.main{
    grid-area: main;
}
.side-bar{
    grid-area: side-bar;
}
.advertise{
    grid-area: advertise;
}

.footer{
    grid-area: footer;
}

.container{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    
    " header header header header"
    " nav    main   main   side-bar"
    " nav    main   main   advertise"
    "footer  footer footer footer "
     ;
}

@media screen and (max-width:576px) {
    .container{
     grid-template-areas:
      "header"
      "nav"
      "main"
      "side-bar"
      "advertise"
      "footer"
     ;
    }
}